* {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
a {
	color: #298ac7;
}
a:hover {
	text-decoration: none;
}
.main {
	width: 480px;
	margin: 0 auto;
	padding: 100px 30px 0 30px;
}
.logo {
	margin-bottom: 20px;
}
.block {
	background: #f8f8f8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 15px;
	border: 10px solid #dddddd;
	padding: 5px 15px 15px 15px;
}
h1 {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	color: #3373a4;
}
.text {
	color: #111;
	margin: 20px 0;
	line-height: 19px;
}
.footer {
	text-align: right;
}
.footer a {
	font-size: 11px;
}